.filter {
  width: 92%;
  margin: 10px auto 0;
  text-align: center;
  background-color: #efeff4;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
}
.filter i {
  font-size: 12px;
}
.product {
  padding: 10px;
}
.product .title {
  margin: 10px 0;
}
.product li {
  width: 50%;
  float: left;
  padding: 5px;
}
.product li a {
  box-shadow: 0 0 5px #ccc;
  display: block;
  padding: 0 5px 5px;
}
.product li a .name {
  color: #8f8f94;
  font-size: 14px;
  text-align: center;
  display: block;
  padding: 6px;
}
.product li a p {
  font-size: 12px;
  text-align: center;
}
.product li a p span:first-child {
  margin-right: 2px;
  color: #f30;
}
.product li a p span:last-child {
  margin-left: 2px;
  color: #ccc;
  text-decoration: line-through;
}
.product li a .buy-now {
  margin: 0 auto ;
  display: block;
  background-color: #006699;
  color: #fff;
}
