.cart-box .mui-row span {
  color: #8f8f94;
  font-size: 14px;
}
.cart-box .mui-row span.new {
  color: #ff3300;
}
.cart-box .mui-row span.old {
  text-decoration: line-through;
}
.total {
  padding: 15px;
}
