* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  display: block;
}
.mui-bar {
  background-color: deepskyblue;
  color: #fff;
}
.mui-bar .mui-tab-item,
.mui-bar h1,
.mui-bar a {
  color: #fff;
}
.mui-bar .mui-active {
  color: darkorange!important;
}
body,
.mui-content {
  background-color: #fff;
}
i {
  font-style: normal;
}
.mui-content > .mui-table-view:first-child {
  margin-top: 0px;
}
